/* RESPONSIVE SIDE NAVBAR */


  
  .sidebar {
    position: sticky;
    background-color: var(--bg-primary);
    overflow: scroll;
    z-index: 100;
    top: 0;
  }

  
  .side-item {
    width: 100%;
  }
  
  .side-item:last-child {
    margin-top: auto;
  }

  .side-link {
    display: flex;
    align-items: center;
    height: 3.8rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .side-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
   /* Body */
  .link-text {
    display: inline;
    margin-left: 1rem;
  }
  
  .side-link svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
  }





  /* Remove Scroll Bar */
  /* width */
  .sidebar::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  /* Track */
  .sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: rgb(141, 187, 255); 
    border-radius: 10px;
  }





  /* Small screens
  @media only screen and (max-width: 600px) {
    .sidebar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
  
    .sidebar-side {
      flex-direction: row;
    }
  
    .side-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
   */
