.dashboardBox {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
    height: 20vh;
    background-color: var(--dark2);
    border-radius: 20px;
}