/* kanban */
.container {
    /* overflow: auto; */
    /* border: 1px solid white; */
}

.bar{
    padding: 0.5rem 0rem;
}
.box { 
    overflow: auto;
    height: 70vh;
    /* width: 80vh; */
}

.kanban {
    background-color: #bebec5;
    padding: 2rem 0rem;
    height: 200vh;
    width: 100vh;
    border: 1px solid white;
}

.droppable {
    border-radius: 10px;
    background-color: #8f8f91;
    padding: 1rem;
  }
.kanbancolumn {
    border-radius: 10px;
    background-color: #9090d1;
    padding: 0.5rem;
}