.sidebar { 
    /* transition: width 600ms ease; */
    z-index: 100;
    /* text-decoration: none; */
    /* background-color: rgb(247, 0, 0); */
    background-color: var(--dark2);
    /* border-radius: 10px; */
    height: 100vh;
  }
  
  .sidebar-data {
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff
  }
  
  .sidebar-logo {
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
  }

  /* Large screens */
@media only screen and (min-width: 600px) {
  .sidebar {
    width: 7rem;
    
  }
  .sidebar .sidebar-data:hover {
    background-color: #E5BA73;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  

}