.sidebar { 
    /* transition: width 600ms ease; */
    /* z-index: 100; */
    /* background-color: var(--secondary); */
    /* border-radius: 10px; */
    /* height: 100vh; */
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    /* padding-bottom: 2rem; */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-data {
    height: 10%;
    width: 40%;
    margin-top: 1rem;
    border-radius: 15px;
    text-decoration: none;
    color: var(--text);
    /* border: 1px solid white; */
  }
  
  .sidebar-logo {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
  }

  .sidebar-text {
    font-size: 1rem;
    padding: 0rem 0rem;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
  }

  /* Large screens */
/* @media only screen and (min-width: 600px) {
  .sidebar {
    width: 20vh;
    
  }
  .sidebar .sidebar-data:hover {
    background-color: var(--hover);
    animation: headShake 0.5s;
  }
  

} */