:root {
  background-color: #eee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar { 
  transition: width 600ms ease;
  z-index: 100;
  border: 1px solid black;
  margin-left: 20px;
}

.sidebar-logo {
  transition: padding 600ms ease;
  background-color: white;
  border-radius: 20px;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;

}

.sidebar-text {
  display: none;
}

.sidebar-data {
  margin-top: 1rem;
}


/* Animation */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Small screens */
@media only screen and (max-width: 600px) {

  :root {
    font-size: 12px;
  }
  .sidebar {
    position: fixed;
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .sidebar {
    width: 6rem;
    
  }
  .sidebar:hover {
    width: 12rem;
  }
  .sidebar:hover .sidebar-data {
    width: 10rem;
    margin-left: 2rem;
  }
  
  .sidebar:hover .sidebar-text {
    display: inline;

    animation: fadeIn 2s;
  }

  .sidebar:hover .sidebar-logo {
    padding: 0.3rem 0.3rem;
    border-radius: 10px;
  }

}