.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    background-color: #e9e9eb;
    padding-right: 30px;
  }
  

  .header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 20px;
    /* background-color: #1976d2; */
  }

  .menu {
    display: flex;
    float: left;
    list-style: none;
    font-size: 16px;
  }

  .navlink {
    padding: 0px 25px;
    margin: 10px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .navlink:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .navtext {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }



  .logo {
    width: 70px;
    height: 70px;
  }
  
  .login {
    border: 1px solid rgb(51, 51, 216);
    padding: 12px 30px;
    border-radius: 50px;
    background-color: white;
    color: rgb(51, 51, 216);
    cursor: pointer;
    font-size: 15px;
    outline: none;
    margin-right: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }

  .login:hover {
    background-color: rgb(209, 233, 255);
  }